.container {
  /* border: 2px solid black; */
  background-color: rgba(4, 4, 5, 0.201);
  display: flex;
  justify-content: flex-end;
}
ul {
  /* border: 2px solid red; */
  display: flex;
  list-style-type: none;
}
li,
a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: pink;
}
a {
  padding: 15px;
}
